400.shtml
401.shtml
403.shtml
404.shtml
500.shtml
cgi-bin/.htaccess
items.csv
items_relics.csv
skills.csv
travel.csv
*.log

# Composer
vendor

# Vagrant
vagrant/webroot
.vagrant

# mac
.DS_Store

# IntelliJ project files
.idea
